# Application Environment
NODE_ENV=development
PORT=3001

# Database Settings
DB_HOST=db
DB_PORT=5432
DB_USERNAME=myuser
DB_PASSWORD=mypassword
DB_NAME=jomnus_db

CORS_ORIGINS=http://localhost:3000

# JWT Configuration
JWT_SECRET=your_super_secret_key_here
JWT_EXPIRATION=1d

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_Port=587
SMTP_SECURE=false
SMTP_EMAIL=your_email@gmail.com
SMTP_PASS=your_app_password
SMTP_FROM=Jomnus

# OAuth - Google
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
